/* 
@media only screen and (min-width: 480px){
#h1.col.hole,#h2.col.hole,#h3.col.hole,#h4.col.hole,#h5.col.hole,#h6.col.hole,#h7.col.hole,#h8.col.hole,#h9.col.hole,#h10.col.hole,#h11.col.hole,#h12.col.hole{
    border-style:double; 
    margin: 8rem 2rem 2rem 2rem;
    /* margin: 2rem; */
/* text-align: center;
   padding: 2rem; */
/* } */

#player1-score {
  text-align: left;
}

.p2 {
  float: right;
  margin-top: -600px;
  margin-right: -170px;
  text-align: center;
}

#p1Hole {
  position: relative;
  color: red;
  border-style: double;
  float: left;
  padding-left: 10rem;
  padding-bottom: 30rem;
}

#p2Hole {
  /* color:red;
    border-style:dashed;
    border-style:double;
    display:inline-block;
    position: absolute;
    flex-direction: row;
     padding-left: 8rem;
    padding-bottom: 30rem;
    margin-top: -33rem;
    margin-left: 85rem; */
  position: relative;
  color: red;
  border-style: double;
  float: right;
  padding-left: 10rem;
  padding-bottom: 30rem;
  margin-top: -32.5rem;
  margin-right: -12rem;
}
