/* #player1-score {
  text-align: left;
} */

.title{
  text-align: center;
  margin-top: 20px;
}
.p1 {
  float: left;
  margin-top: -50px;
  /* margin-top: -0px; */
  /* margin-right: 170px; */
  text-align: center;
  margin-left: 20px;
}

.p2 {
  float: right;
  margin-top: -200px;
  /* margin-right: 170px; */
  text-align: center;
  margin-right:20px;
}

#col {
  /* border-radius: 70%; */
}


#p1Hole {
  position: relative;
  color: red;
  border-style: double;
  float: left;
  padding-left: 10rem;
  padding-bottom: 30rem;
}

#p2Hole {
  position: relative;
  color: red;
  border-style: double;
  float: right;
  padding-left: 10rem;
  padding-bottom: 30rem;
  margin-top: -32.5rem;
  margin-right: -12rem;
}

#first-section{
  margin-top: 180px;
}

.mancala{
  font-size: 20px;
  
}
