#player1-score {
  text-align: left;
}

.p2 {
  float: right;
  margin-top: -600px;
  margin-right: -170px;
  text-align: center;
}

#p1Hole {
  position: relative;
  color: red;
  border-style: double;
  float: left;
  padding-left: 10rem;
  padding-bottom: 30rem;
}

#p2Hole {
  position: relative;
  color: red;
  border-style: double;
  float: right;
  padding-left: 10rem;
  padding-bottom: 30rem;
  margin-top: -32.5rem;
  margin-right: -12rem;
}
